*{
              margin: 0;
              padding: 0;
}
.main{
              background-color: rgb(225, 151, 248);
              height: 100vh;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              
}
.container{
              background-color: white;
              width: 300px;
              height: 450px;
              border-radius: 10px;
}
.img{    
              background: url(./img.jpg);
              background-position: center;
              background-size: cover;
              border: 2px solid #fff;
              height: 90%;
              border-radius: 10px;
              
}
.nav{
              border: 2px solid #fff;
              display: flex;
              justify-content: space-around;
              height: 8%;
              border-radius: 10px;
}

button{
              background: transparent;
              border: none;
              cursor: pointer;
             
}
